# Database
MONGODB_URI="mongodb+srv://username:password@cluster.mongodb.net/funderly"

# App URL
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# Auth (NextAuth v5)
AUTH_SECRET="your_auth_secret"

# OAuth Providers
AUTH_GOOGLE_ID="your_google_client_id"
AUTH_GOOGLE_SECRET="your_google_client_secret"

AUTH_GITHUB_ID="your_github_client_id"
AUTH_GITHUB_SECRET="your_github_client_secret"

AUTH_FACEBOOK_ID="your_facebook_client_id"
AUTH_FACEBOOK_SECRET="your_facebook_client_secret"

# Media Storage
CLOUDINARY_URL="cloudinary://api_key:api_secret@cloud_name"

# Payment Gateway
SAFEPAY_ENV="sandbox"
